JWT_SECRET=changez-moi-en-production
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SENDGRID_FROM_EMAIL=votre-email@domain.com
ADMIN_EMAIL=destinataire@domain.com

# Mettre ici les emails à mettre systématiquement en copie (séparés par des virgules)
# Exemple : TICKET_CC_EMAILS=ton.email@sedi-ati.com,autre.personne@sedi-ati.com
TICKET_CC_EMAILS=

# URL publique du frontend (utilisée pour les liens dans les emails, suivi, etc.)
# En production interne :
# FRONTEND_URL=http://serveurtickets.sedi.local
# En local (dev) :
# FRONTEND_URL=http://localhost:5173
FRONTEND_URL=http://serveurtickets.sedi.local



